#author {
    background: var(--bg-black);
    padding-block: 2rem;
}

#author .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    align-items: start;
}

#author p {
    color: #fff;
    font-size: 1.6rem;
}

#author p.ocult {
    color: #8f8e8e;
    font-size: 1.2rem;
}