#modulos {
    background: var(--bg-black);
    overflow: hidden;
  
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-block: 0;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-100%);
    }
  }

#modulos .slide img {
    width: 50%;
    aspect-ratio: 11/14;
    object-fit: cover;
    border-radius: 1rem;
}

#modulos .slide {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    white-space: nowrap;
  
    animation: slide 10s infinite linear;

}

#modulos:before,
#modulos:after {
    content: '';
    position: absolute;
    top: 0;
    width: 15rem;
    height: 100%;
    z-index: 2;
}

#modulos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #181819);
}
  
#modulos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #181819);
}

#modulos .wrapper {
    position: relative;
    z-index: 11;
}
  
#modulos .slide:hover {
    /* animation-play-state: paused; */
}

#modulos .content {
    padding-block: 8rem;
}

#modulos .content h2 {
    color: var(--color-text);
    font-size: 3.5rem;
    margin-bottom: 4rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
}

#modulos .content h2 span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

#modulos .content .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    position: relative;
}

#modulos .blush {
    width: 500px;
    height: 500px;
    background: radial-gradient(#b2b2b2, transparent 50%);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .1;

    animation: moveblush infinite 4s linear;
}

#modulos .content .cards .card-container {
    padding: 2rem;
    border-radius: 2rem;
    width: 100%;

    background: rgba(45, 45, 45, 0.127);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(46, 46, 46, 0.3);
}

#modulos .content img {
    width: 3rem;
    margin-bottom: 1rem;
}

#modulos .content h3 {
    font-family: "Space Grotesk", sans-serif;
    color: var(--color-text);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

#modulos .content p {
    color: #838383;
    font-size: 1.6rem;
    font-weight: 300;
}

@media (min-width: 1080px) {
    section#modulos {
        height: 100vh;
        position: relative;

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-content: space-between;
    }

    section#modulos .blush {
        width: 800px;
        height: 800px;
    }

    section#modulos .slide img {
        width: 70%;
        border-radius: 3rem;
    }

    section#modulos .wrapper {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    section#modulos .slide-content {
        overflow: hidden;
    }

    section#modulos .slide {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    section#modulos .slide.um {
        align-items: start;
        animation: slideDesktop 40s infinite linear;
        mask-image: linear-gradient(to right ,#fff, transparent 75%);
    }

    section#modulos .slide.dois {
        align-items: end;

        animation: slideDesktopInvert 40s infinite linear;
        mask-image: linear-gradient(to left ,#fff, transparent 75%);
    }

    section#modulos .slide-content:before,
    section#modulos .slide-content:after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 15rem;
        z-index: 2;
    }
    
    section#modulos .slide-content:before {
        top: 0;
        background: linear-gradient(to top, rgba(255, 255, 255, 0), #181819);
        left: 0;
    }
    
    section#modulos .slide-content:after {
        top: initial;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #181819);
        left: 0;
    }

    section#modulos .slide:before,
    section#modulos .slide:after {
        display: none;
    }

    section#modulos .wrapper {
        position: sticky;
        top: 0;
    }

    section#modulos .content h2 {
        font-size: 4.5rem;
        margin-bottom: 8rem;
    }

    section#modulos .content h3 {
        font-size: 2rem;
    }

    section#modulos .content p {
        width: 80%;
        font-size: 1.6rem;
    }
    
    section#modulos .content .cards {
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    section#modulos .content .cards .card {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section#modulos .content img.icone {
        position: absolute;
        width: 15rem;

        mask-image: linear-gradient(to right ,#fff, transparent 85%);
        filter: blur(4px);
        opacity: .4;
    }

    section#modulos .content img.icone.um {
        top: -10%;
        left: -15%;
    }

    section#modulos .content img.icone.dois {
        top: -10%;
        right: -15%;

        mask-image: linear-gradient(to left ,#fff, transparent 85%);
    }

    section#modulos .content img.icone.tres {
        bottom: -10%;
        left: -15%;
    }

    section#modulos .content img.icone.quatro {
        bottom: -10%;
        right: -15%;

        mask-image: linear-gradient(to left ,#fff, transparent 85%);
    }

    section#modulos .wrapper .content .card-container {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 2rem;

        background: rgba(45, 45, 45, 0.32);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 2px solid rgba(46, 46, 46, 0.3);
    }

}

@media (min-width: 1400px) {
    .wrapper {
      width: min(140rem, 100%);
    }

    section#modulos .wrapper .content .card-container {
        padding: 2rem;
    }

    section#modulos .content h3 {
        font-size: 2.5rem;
    }

    section#modulos .content p {
        width: 80%;
        font-size: 1.8rem;
    }
}

@keyframes slideDesktop {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-80%);
    }
}

@keyframes slideDesktopInvert {
    from {
      transform: translateY(-80%);
    }
  
    to {
      transform: translateY(0);
    }
}

